html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/* stripping */
h1, h2, h3, p, a, div, button {
  margin: 0;
  padding: 0;
}

/* header */
header {
  background-color: lightgray;
  border: 3px double grey;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: blue;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 50%;
}

#newGame, 
#saveGame,
#next,
#startGame {
  color: white;
  background-color: blue;
  border-radius: 15px;
  text-align: center;

  width: 130px;
  height: 50px;
  padding: 10px;
}

a {
  font-size: 1rem;
  color: blue;
  text-decoration: none;
}

/* section */
section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: none ;
}

/* legend */
.legend {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: linen;
  border: 2px solid darkblue;
}

.ship {
  font-size: 1.7rem;
  color: darkblue;
  text-align: center;
}
.text {
  font-size: 1.5rem;
  color: mediumslateblue;
  text-align: center;
}

/* game boards */
h2 {
  font-size: 2rem;
  color: red;
  text-transform: uppercase; 
  margin-top: 10px;
}

h3 {
  font-size: 1.4rem;
  color: red;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.square {
  background-color: lightgrey;
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.header {
  color: black;
  text-align: center;
  font-size: 1.2rem;
  line-height: 30px;
}

.player1Board,
.player2Board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  background-color: black;
}

.columnHeader,
.row1,
.row2,
.row3,
.row4,
.row5,
.row6,
.row7,
.row8,
.row9,
.row10 {
  display: flex;
  flex-wrap: none;
  justify-content: flex-start;
}

.input h3,
.startGame h3 {
  color: blue;
  margin-top: 20px;
}



.player1.occuppied {
  background-color: black;
}

/* temp for testing purposes */
.player2.occuppied {
  background-color: green;
}

.hit {
  background-color: red;
  color: fuchsia;
}

.miss {
  background-color: white;
}
